
<ion-tabs>
  <ion-tab label="Cards" icon="home" href="/tabs/(card:card-deck)">   <!--card is the outlet,    and  we will be going to path is card-deck-->
    <ion-router-outlet name="card"></ion-router-outlet>        <!--just a reminder card is listed as outlet here as well -->
  </ion-tab>



  <ion-tab label="About" icon="information-circle" href="/tabs/(about:about)">
                               <!-- goes to about page but not actually clicking it "path"
                                    the right side of the  ":" will go to about page outlet -->
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>


  <ion-tab label="Contact" icon="contacts" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>

</ion-tabs>







<!--                                                                   //Past example
         //icon is merely an icon that shows two heads
  <ion-tab label="Undefined" icon="contacts" href="/tabs/(contact:contact)">    //this is the label


              //href this will lead to the contact page when you click it



      <ion-router-outlet name="undefined"></ion-router-outlet>      //undefined will render contacts page
           //this undefined would go tabs.router.module.ts and go to outlet where it used to say undefined
  </ion-tab>


when we have two outlets the last one called is the last one specified.

-->

